:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding:20px;
}

/* App.css 또는 해당 컴포넌트 CSS */
.watermark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* 클릭 방해 금지 */
  z-index: 9999;
  opacity: 0.1; /* 매우 흐릿하게 설정 */
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  user-select: none;
}

.watermark-text {
  transform: rotate(-25deg);
  padding: 50px;
  font-size: 14px;
  color: #000;
  white-space: nowrap;
}

.App {
  margin: 0 auto;
  width : 400px;
}

.App > section {
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}
